<!DOCTYPE html>
<html lang="en">
<head>
    <title>Checha Systems</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <header>
       <div class="container">
          <div class="logo"> <img src="{{ url_for('static', filename='img/Captura de pantalla (25).png') }}" alt="">
           </div>
            <nav>
                <a href="#hero">INICIO</a>
                <a href="#somos-proya">SERVICIOS</a>
                <a href="#nuestros-programas">SOBRE MI</a>
            </nav>
       </div>
    </header>

    <section id="hero">
        <h1>Soluciones Informáticas Oportunas y con Excelencia.<br></h1>
    </section>

    <section id="somos-proya">
        <div class="container">
            <div class="img-container"></div>
            <div class="texto">
                <h2>SERVICIOS:<span class="color-acento"></span></h2>

                <h2>Desarrollo web full stack para empresas <span class="color-acento">y sitios web personales.</span></h2>
                <h2>Mantenimiento y reparación <span class="color-acento">de computadores.</span></h2>
            </div>
            </div>
        </div>
    </section>

    <section id="nuestros-programas">
        <div class="container">
            <h2>Sobre Mí</h2>
    <section id="caracteristicas">
        <div class="container">
            <div class="texto">
                <h2>Ingeniero informático egresado de la universidad Catolica del Norte.<span class="color-acento"></span></h2>
                <h2>Auxiliar de Producción en Mineros Aluviales SAS.<span class="color-acento"></span></h2>
                <h2>jmajar18@gmail.com<span class="color-acento"></span></h2>
                <h2>3106710568<span class="color-acento"></span></h2>


            </div>
        </div>
    </section>
        </div>
    </section>


    <footer>
        <div class="container">
            <p>&copy; Checha Systems 2022</p>
        </div>
    </footer>
</body>
</html>